@font-face {
  font-family: "game-of-thrones";
  font-display: swap;
  src: local("game-of-thrones"), url("../fonts/game_of_thrones_kg.woff2") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "monument-extended";
  font-display: swap;
  src: local("monument-extended"), url("../fonts/monument-extended-3.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: orange;
  color: #fff;
}

::selection {
  background-color: orange;
  color: #fff;
}

input, textarea {
  outline: none;
}
input:focus:required:invalid, textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid, textarea:required:valid {
  border-color: green;
}

.disable-hover {
  pointer-events: none !important;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #383838;
}

body::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 6px;
}

button {
  outline-color: cornflowerblue;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button::-moz-focus-inner {
  border: 0;
}

a {
  outline-color: cornflowerblue;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  width: 100%;
  vertical-align: bottom;
}


